---
layout: food_default 
title: Flanzis Food Blog  
---

<h1>Tags</h1>

<script>
    var tagList = [] 
    function handleTagSelection(tag) {
        document.getElementById("post_list").innerHTML = ""  
        var tag_name = tag.innerHTML; 
        if(tag.classList.contains("tag_active")) {
            tag.classList.remove("tag_active");
            var index = tagList.indexOf(tag_name); 
            if(index != -1) {
                tagList.splice(index, 1);
            }
        } else {
            tag.classList.add("tag_active");
            tagList.push(tag_name);
        }
        //document.getElementById("post_list").innerHTML += tagList.toString() + "<br>";          
        
        {% for post in site.posts %} 
            var pageTags = []; 
            {% for tag in post.tags %} 
                pageTags.push("{{ tag }}");   
            {% endfor %} 
            if(tagList.length > 0 && tagList.every(v => pageTags.includes(v))) {
                document.getElementById("post_list").innerHTML += `<a href="{{ post.url }}">{% include food_overview_test.html page=post %}</a>`;
            }
        {% endfor %}
    }
</script>

{% for tag in site.tags %} 
    <button type="button" onclick="handleTagSelection(this)" class="tag">{{ tag[0] }}</button> 
{% endfor %}
<br>

<div id="post_list">
</div> 

