{% assign target_page = include.page | default: page %} 
<h1> {{target_page.title}} </h1>
<div class="details_list">
    <div class="detail"><i class="fas fa-utensils"> </i> {{ target_page.serves }}</div>
    <div class="detail"><i class="fas fa-blender"> </i> {{  target_page.prep_time | plus: include.page.rest_time }} Min.</div>
    <div class="detail"><i class="far fa-clock"> </i> {{ target_page.cook_time }} Min.</div>
</div>
<div class="tag_list">
    {% for tag in target_page.tags %}
        <a class="tag" id="{{ tag }}" href="/food/tags?tag={{ tag }}">{{ tag }}</a>
    {% endfor %}
</div>


