<head>
    {% include cookiebot.html %}
    {% include google_analytics.html %} 
    <script src="https://kit.fontawesome.com/8167dbd281.js" crossorigin="anonymous" defer></script>
    <title>Flanzi's Food Blog - {{page.title}}</title>
    <meta charset="utf-8">
    <meta name="description" content="Flanzi's Food Blog bietet eine Auswahl einfacher, vegetarischer Rezepte für den Alltag. Wir wollen diese mögichst übersichtlich darstellen, damit man auch auf mobilen Endgeräten nicht ständig scrollen muss.">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5.0'/>
    <link rel = "stylesheet" type = "text/css" href = "/assets/css/food.css"/>
</head>

