/* PAGE LAYOUT */
* {
    margin: 0;
    padding: 0;
    list-style-position: inside; 
}

.body_grid {
    display: grid;
    grid-template-areas: "header header header" 
                         "nav nav nav" 
                         "side content dummy";  
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
}

@media only screen and (max-width: 600px) {
    .body_grid {
        grid-template-areas: "header" 
                             "nav" 
                             "side" 
                             "content";
        grid-template-columns: 1fr; 
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .body_grid {
        grid-template-areas: "header header" 
                             "nav nav" 
                             "side content";
        grid-template-columns: 1fr 1fr; 
    }
}

/* HEADER */ 
.welcome_image {
    grid-area: header; 
    display: block;
    padding: 60px 0px;
    color: #407B38;
    text-align: center;
    font-size: 300%;
}

/* NAVIGATION BAR TOP */
.navigation_bar_top {
    grid-area: nav; 
    margin: 0px 0px 20px 0px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #00994d;
    box-shadow: 0px 3px 0px #001a0d;
}
.navigation_bar_top a {
    display: inline-box;
    padding: 5px;
    flex: 1 1;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
    color: white;
}
.navigation_bar_top a:hover {
    background-color: #333333;
}

/* SIDEBAR */  
.sidebar {
    grid-area: side;
    margin: 0px 20px;  
    border: 2px solid #76E367;
    border-radius: 20px;
}
.sidebar h2 {
    text-align: center;
}

/* BACKGROUND */
.content {
    grid-area: content; 
}
.content h1 {
    color:  #407B38;
    margin-bottom: 5px;
}

/* TAGS */
.tag {
  border-radius: 5px;
  border: 2px solid #76E367;
  padding: 1px 5px;
  margin: 0px 5px 0px 0px;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
}
.tag:hover {
  background: #76E367;
  border: 2px solid #407B38;
}
