* {
    margin: 0;
    padding: 0;
}

.body_grid {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto auto 50px auto;
    background-color: white;
}

.welcome_image {
    display: block;
    padding: 60px 0px;
    grid-column: 1 / 4;
    color: #407B38;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

/* NAVIGATION BAR TOP */
.navigation_bar_top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-column: 1 / 4;
    background-color: #00994d;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 0px #001a0d;
}
.navigation_bar_top a {
    display: inline-box;
    padding: 8px;
    flex: 1 1;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.navigation_bar_top a:hover {
    color: #FFFFFF;
    background-color: #333333;
    text-shadow: 0px 0px 10px #FFFFFF;
}

/* BACKGROUND */
.background {
    display:inline-block;
    grid-column: 2 / 2;
    grid-row: 4 / 5;
    background-color: white;
    height: 3000px;
}

.background h1 {
    color:  #407B38;
}

