/* PAGE LAYOUT */
* {
    margin: 0;
    padding: 0;
    list-style-position: inside; 
}

.body_grid {
    display: grid;
    grid-template-areas: "header header header" 
                         "nav nav nav" 
                         "a content_header b" 
                         "side content c";  
    grid-template-columns: 1fr 2fr 1fr;
}

@media only screen and (max-width: 600px) {
    .body_grid {
        grid-template-areas: "header" 
                             "nav" 
                             "content_header" 
                             "side" 
                             "content";
        grid-template-columns: 1fr; 
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .body_grid {
        grid-template-areas: "header header" 
                             "nav nav" 
                             "dummy content_header"
                             "side content";
        grid-template-columns: 1fr 1fr; 
    }
}

/* HEADER */ 
.welcome_image {
    grid-area: header; 
    padding: 60px 0px;
    color: #407B38;
    text-align: center;
    font-size: 300%;
}

/* NAVIGATION BAR TOP */
.navigation_bar_top {
    grid-area: nav; 
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #00994d;
    box-shadow: 0px 3px 0px #001a0d;
}
.navigation_bar_top a {
    flex: 1 1;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
}
.navigation_bar_top a:hover {
    background-color: #333333;
}

/* SIDEBAR */  
.sidebar {
    grid-area: side;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid #76E367;
    border-radius: 20px;
}
.sidebar h2 {
    text-align: center;
}

/* CONTENT HEAD */ 
.content_header {
    grid-area: content_header;
}
.content_header h1 {
    color:  #407B38;
    margin-bottom: 5px;
}

/* CONTENT */ 
#content {
    margin-top: 30px;
    grid-area: content; 
}
#content h1 {
    color: #407B38;
    margin-bottom: 5px; 
}

/* TAGS */
.tag_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tag {
  border-radius: 5px;
  border: 2px solid #76E367;
  padding: 1px 5px;
  margin: 0px 5px 5px 0px;
  float: left;
  color: black;
  background-color: white;
  text-align: center;
  text-decoration: none;
}
.tag_active,
.tag:hover {
  background: #76E367;
  border: 2px solid #407B38;
}

/* RECIPE DETAILS */
.details_list {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}   

.detail {
    padding-right: 20px;
    color: #4d4d33;
}

#post_list {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
}
