---
layout: food_default 
title: Alphabetisch  
---

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {% assign sortedPosts = site.posts | sort: 'title' %}
    {% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
    {% for letter in alphabet %}
        {% assign pre = false %} 
        {% for post in sortedPosts %} 
            {% assign post_letter = post.title | slice: 0 %}
            {% if post_letter == letter %} 
                {% assign pre = true %} 
            {% endif %} 
        {% endfor %} 
        {% if pre == false %} 
            {% continue %} 
        {% endif %} 
        <div style="margin-bottom: 30px; margin-right: 30px;">
        <h1> {{ letter }} </h1>
        <ul> 
        {% for post in sortedPosts %}
            {% assign post_letter = post.title | slice: 0 %}
            {% if  post_letter == letter %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %} 
        {% endfor %}
        </ul>
        </div>
    {% endfor %}
</div>

