<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flanzi's Food Blog - {{page.title}}</title>
    <link rel = "stylesheet" type = "text/css" href = "/assets/css/food.css"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <script src="https://kit.fontawesome.com/8167dbd281.js" crossorigin="anonymous"></script>
</head>

<body class="body_grid">
    {% include food_header.html %}
    {% include food_navigation_bar.html %}

    <div class="content_header"> 
        {% include food_overview.html %}
    </div>

    <div id="content">
        {{ content }}
    </div>

    <div class="sidebar"> 
        <h2>Zutaten</h2> 
        <h3>Gemüse</h3> 
            <ul>
                {% assign vegetables = page.vegetables | sort %}
                {% for veggie in vegetables %}
                    <li> {{ veggie[0] }} - {{ veggie[1] }} </li> 
                {% endfor %} 
            </ul>  
        <h3>Gewürze</h3> 
            <ul> 
                {% assign spices = page.spices | sort %}
                {% for spice in spices %}
                    <li> {{ spice[0] }} - {{ spice[1] }} </li> 
                {% endfor %} 
            </ul> 
        <h3>Milchprodukte</h3> 
            <ul>
                {% assign dairies = page.dairies | sort %} 
                {% for dairy in dairies %} 
                    <li> {{ dairy[0] }} - {{ dairy[1] }} </li> 
                {% endfor %}
            </ul>
        <h3>Sonstiges</h3> 
            <ul> 
                {% assign others = page.others | sort %} 
                {% for other in others %} 
                    <li> {{ other[0] }} - {{ other[1] }} </li> 
                {% endfor %} 
    </div> 

</body>
</html>
