<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flanzi's Food Blog - {{page.title}}</title>
    <link rel = "stylesheet" type = "text/css" href = "/assets/css/food.css"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <script src="https://kit.fontawesome.com/8167dbd281.js" crossorigin="anonymous"></script>
</head>

<body class="body_grid">
    {% include food_header.html %}
    {% include food_navigation_bar.html %} 
    
    <div id="content">
        {{ content }}
    </div>
</body>
</html>
