<!doctype html>
<html>
{% include food_head.html %} 

<body class="body_grid">
    {% include food_header.html %}
    {% include food_navigation_bar.html %}

    <div class="content_header"> 
        {% include food_overview.html %}
    </div>

    <div id="content">
        {{ content }}
    </div>
    
    {% if page.vegtables or page.spices or page.dairies or page.others %}
    <div id="sidebar"> 
        <h2>Zutaten</h2> 
        {% if page.vegetables %}
        <h3>Gemüse</h3> 
            <ul>
                {% assign vegetables = page.vegetables | sort %}
                {% for veggie in vegetables %}
                    <li> {{ veggie[0] }} - {{ veggie[1] }} </li> 
                {% endfor %} 
            </ul>  
        {% endif %} 
        {% if page.spices %} 
        <h3>Gewürze</h3> 
            <ul> 
                {% assign spices = page.spices | sort %}
                {% for spice in spices %}
                    <li> {{ spice[0] }} - {{ spice[1] }} </li> 
                {% endfor %} 
            </ul> 
        {% endif %} 
        {% if page.dairies %} 
        <h3>Milchprodukte</h3> 
            <ul>
                {% assign dairies = page.dairies | sort %} 
                {% for dairy in dairies %} 
                    <li> {{ dairy[0] }} - {{ dairy[1] }} </li> 
                {% endfor %}
            </ul>
        {% endif %} 
        {% if page.others %}
        <h3>Sonstiges</h3> 
            <ul> 
                {% assign others = page.others | sort %} 
                {% for other in others %} 
                    <li> {{ other[0] }} - {{ other[1] }} </li> 
                {% endfor %}
        {% endif %} 
    </div> 
    {% endif %} 

    <div id="picture">
        {% if page.image %} 
            <img src="{{ page.image }}" alt="Ein Eindruck von {{ page.title }}">
        {% endif %} 
        {% if page.reference %} 
            Werft einen Blick auf das <a href="{{ page.reference }}">Originalrezept</a>! 
        {% endif %} 
    </div>

    {% include food_footer.html %} 
</body>
</html>
