<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flanzi's Kitchen Blog - {{page.title}}</title>
    <link rel = "stylesheet" type = "text/css" href = "/assets/css/food.css"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <script src="https://kit.fontawesome.com/8167dbd281.js" crossorigin="anonymous"></script>
</head>

<body class="body_grid">
    <div class="welcome_image">
        Flanzi's Kitchen Blog &#8239; <span class="fas fa-leaf" style="color: #76E367"></span>   
    </div>
    <div class="navigation_bar_top">
        <a class="fas fa-home" style="font-size: 120%;" href="/index.html"> Home</a>
        <a class="fas" href="/food_az.html" style="font-size: 120%;">A-z</a> 
    </div>
    <div class="background">
        {{ content }} 
    </div>
</body>
</html>
