---
layout: page
---

<div class="stats">
  <div class="stat">
    <i class="stat-icon fas fa-user"></i>
    <p class="stat-text"><strong>Author(s):</strong> {{ page.authors }}</p>
  </div>
  <div class="stat">
    <i class="stat-icon fas fa-book"></i>
    <p class="stat-text"><strong>Published in:</strong> {{ page.published_in }}</p>
  </div>
  <div class="stat">
    <i class="stat-icon fas fa-calendar"></i>
    <p class="stat-text"><strong>Year:</strong> {{ page.year }}</p>
  </div>
  {% if page.link %}
  <div class="stat">
    <i class="stat-icon fas fa-link"></i>
    <p class="stat-text"><strong>Link:</strong> <a href="{{ page.link }}" target="_blank">View Publication</a></p>
  </div>
  {% endif %}
</div>

<div>
  {{ content }}
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

