---
layout: food_default 
title: Suche  
---

<h1>Suche</h1>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
<div style="margin-right: 100px;">
<h2>Inkludierte Begriffe:</h2>
<input type="search" id="search_field_included" style="margin-bottom: 20px;"></input>
<div id="tag_list_included" class="tag_list"></div>
</div>

<div>
<h2>Exkludierte Begriffe:</h2> 
<input type="search" id="search_field_excluded" style="margin-bottom: 20px;"></input> 
<div id="tag_list_excluded" class="tag_list"></div>
</div>
</div>

<h2>Maximale Kochzeit:</h2>

<!-- retrieve maximum cooking time for slider -->
{% assign maximum_cooking_time = 0 %}  
{% for post in site.posts %} 
    {% assign post_time = post.prep_time | plus: post.cook_time %}
    {% if post_time > maximum_cooking_time %} 
        {% assign maximum_cooking_time = post_time %} 
    {% endif %} 
{% endfor %} 

<input type="range" min="1" max="{{ maximum_cooking_time }}" value="{{ maximum_cooking_time }}" id="cooking_time_slider" class="slider"><div style="margin-left: 10px; display: inline" id="cooking_time_slider_value">{{ maximum_cooking_time }}</div> Min.
<hr>

<div id="nb_search_results">
</div>

<div id="search_results">
</div> 

<script>
    keywords_included = [] 
    keywords_excluded = [] 

    // Displays the recipe list for selected tags 
    function updateSearchResults() { 
        document.getElementById("nb_search_results").innerHTML = ""; 
        document.getElementById("search_results").innerHTML = "";

        var nbSearchResults = 0;
        {% for post in site.posts %} 
            var pageKeywords = ["{{ post.title | downcase }}"];
            {% for tag in post.tags %} 
                pageKeywords.push("{{ tag | downcase }}");   
            {% endfor %} 
            {% for veggie in post.vegetables %} 
                pageKeywords.push("{{ veggie[0] | downcase }}"); 
            {% endfor %} 
            {% for spice in post.spices %} 
                pageKeywords.push("{{ spice[0] | downcase }}"); 
            {% endfor %} 
            {% for dairy in post.dairies %} 
                pageKeywords.push("{{ dairy[0] | downcase }}"); 
            {% endfor %} 
            {% for other in page.others %} 
                pageKeywords.push("{{ other[0] | downcase }}"); 
            {% endfor %} 
   
            if(keywords_excluded.every(v => pageKeywords.findIndex(elem => elem.includes(v)) == -1) && keywords_included.every(v => pageKeywords.findIndex(elem => elem.includes(v)) != -1)) { 
                {% assign post_cooking_time = post.prep_time | plus: post.cook_time %} 
                if({{ post_cooking_time }} <= document.querySelector("#cooking_time_slider").value) {  
                    nbSearchResults++;
                    document.getElementById("search_results").innerHTML += `<hr>{% include food_overview_pic.html page=post %}`;
                }
            }
        {% endfor %}

        document.getElementById("nb_search_results").innerHTML = "Found " + nbSearchResults + " results ...";
    }

    function addKeyword(keyword, included) {
        if(keyword === "") return;
        const targetElementId = included ? "tag_list_included" : "tag_list_excluded";
        document.getElementById(targetElementId).innerHTML += "<div class='tag' id='" + keyword + "'>" + keyword + "<button style='color: inherit; background-color: inherit; border: none; outline: none; padding-left: 5px;' onclick='handleKeywordRemove(this.parentElement)' type='reset' class='fas fa-times'></button></div>"; 
        if(included) {
            keywords_included.push(keyword); 
        } else {
            keywords_excluded.push(keyword); 
        }
        updateSearchResults(); 
    }

    function addKeywords(keywords, included) {
        for(keyword in keywords) { 
            addKeyword(keywords[keyword], included); 
        }
    }

    function prepareKeywordsFromString(keywords) {
        keywords = keywords.toLowerCase(); 
        return keywords.split(" ");  
    }

    function handleKeywordRemove(keyword) {
        if(keyword.parentElement.id === "tag_list_included") {
            keywords_included = keywords_included.filter(function(elem) { 
                return elem != keyword.id; 
            });
        } else {
            keywords_excluded = keywords_excluded.filter(function(elem) { 
                return elem != keyword.id; 
            });
        }
        keyword.remove();
        updateSearchResults(); 
    }

    // Check if keyword parameter is present and set it 
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const keywords = prepareKeywordsFromString(urlParams.get("keywords")); 
        addKeywords(keywords, true); 
    };

    document.querySelector("#search_field_included").addEventListener("keyup", event => {
        if(event.key !== "Enter") return;
        const keywords = prepareKeywordsFromString(document.querySelector("#search_field_included").value); 
        addKeywords(keywords, true); 
        document.querySelector("#search_field_included").value = "";
        event.preventDefault(); 
    });

    document.querySelector("#search_field_excluded").addEventListener("keyup", event => {
        if(event.key !== "Enter") return;
        const keywords = prepareKeywordsFromString(document.querySelector("#search_field_excluded").value); 
        addKeywords(keywords, false); 
        document.querySelector("#search_field_excluded").value = "";
        event.preventDefault(); 
    });

    document.querySelector("#cooking_time_slider").addEventListener("input", () => {
        document.querySelector("#cooking_time_slider_value").innerHTML = document.querySelector("#cooking_time_slider").value;  
        updateSearchResults(); 
    }); 
</script>


